# Configuración del LLM
GROQ_API_KEY=tu_api_key_de_groq_aqui
GEMINI_API_KEY=tu_api_key_de_gemini_aqui

# Configuración de Firebase Admin (Ruta al archivo JSON de credenciales)
FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json

# Otras variables de entorno necesarias
PROJECT_ENV=development
